body,
html {
    /* Remove margins */
    margin: 0px;
    position: relative;
    background-color: #51744f;
    text-align: center;
}
canvas {
    /* Center the canvas */
    margin: auto;
    /*border: 1px solid black;*/
}